body {
    background-image: linear-gradient(
        180deg,
        #ff9933 20%,
        #ff8000 60%,
        #ff9933 95%
    );
    
    margin: 0;
    min-height: 100vh;
    width: 100%;

}

main{
 align-items: center;
 display: flex;
 height: 100vh;
 justify-content: center;
 position: relative;
}
main > section img {
    height: 300px ;
    margin: 15px 0;
    width: 200px;


}

main > section button {
    background-color: #ff6600;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: -0.6px;
    line-height: 20px;
    padding: 9px 23px;    
    text-transform: uppercase;


}
#detalhes-container{
    font-weight: bold;
    height: 40px;
    list-style: none;
    width: 90%;


}