body {
    background-image: linear-gradient(
        180deg,
        #ff9933 20%,
        #ff8000 60%,
        #ff9933 95%
    );
    
    margin: 0;
    min-height: 100vh;
    width: 100%;

}

main{
 align-items: center;
 display: flex;
 height: 100vh;
 justify-content: center;
 position: relative;
}
main > section img {
    height: 300px ;
    margin: 15px 0;
    width: 200px;


}